<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/02_Data_Frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Malumotlar tahlili. Pandas Kutubxonasi

### Daraframe malumotlar tuzilmasi

In [ ]:
import pandas as pd

Dataframe - Series malumotlar tuzilmasidan farqli ravishda 2 o'lchamli bo'ladi
yani qatorlardan va ustunlardan iborat boladi

Kattaroq loyihalarda biz dataframelarni malumotlar toplami yozilgan fayllardan (excel, txt, ..) chaqirib ochishni koramiz

In [ ]:
data = {
    'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
    'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]
}

df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2014        28.5  1.53

In [ ]:
df.head() # yuqoridagi 5ta qiymatni chiqarish

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

In [ ]:
df.head(3) # yuqoridagi 3ta qiymatni chiqarish

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56

In [ ]:
df.shape

(8, 3)

yuqorida ustunlar ketma ketligini ozimiz ham berishimiz mumkin

In [ ]:
df1 = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni']) # ustunlar ketma ketligi ozimiz belshilashimiz
df1

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9
5  2016  1.66        31.4
6  2015  1.64        30.9
7  2014  1.53        28.5

In [ ]:
df1 = pd.DataFrame(data, columns=['Yil', 'Temp', 'Tugulishlar Soni']) #df1 da mavjud bolmagan ustun kiritilasa
df1

    Yil  Temp Tugulishlar Soni
0  2021  1.54              NaN
1  2020  1.48              NaN
2  2019  1.56              NaN
3  2018  1.62              NaN
4  2017  1.65              NaN
5  2016  1.66              NaN
6  2015  1.64              NaN
7  2014  1.53              NaN

indekslarni ham ozgartirishimiz mumkin

In [ ]:
df1 = pd.DataFrame(data, columns=['Yil', 'Temp', 'Tugulishlar Soni'], index=[21, 20, 19, 18 ,17, 16, 15, 19]) #df1 da mavjud bolmagan ustun kiritilasa
df1

     Yil  Temp Tugulishlar Soni
21  2021  1.54              NaN
20  2020  1.48              NaN
19  2019  1.56              NaN
18  2018  1.62              NaN
17  2017  1.65              NaN
16  2016  1.66              NaN
15  2015  1.64              NaN
19  2014  1.53              NaN

In [ ]:
df1 = pd.DataFrame(data, columns=['Yil', 'Temp', 'Tugulishlar_Soni'], index=['a', 'b', 'c', 'd' ,'e', 'f', 'g', 'h']) #df1 da mavjud bolmagan ustun kiritilasa
df1

    Yil  Temp Tugulishlar_Soni
a  2021  1.54              NaN
b  2020  1.48              NaN
c  2019  1.56              NaN
d  2018  1.62              NaN
e  2017  1.65              NaN
f  2016  1.66              NaN
g  2015  1.64              NaN
h  2014  1.53              NaN

Alohida ustunlarni qiymatlarnini ham chiqarib korishimiz mumkin

In [ ]:
df1['Tugulishlar_Soni']

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
Name: Tugulishlar_Soni, dtype: object

bu ajratib olingan ustunlar Series malumotlar tuzilmasi bo'lib qoladi

In [ ]:
type(df1['Tugulishlar_Soni'])

pandas.core.series.Series

utunlarni ajratib olishni 2-usuli, agar ustuningiz nomi bittali bolsa, va python ozgaruvchalariga qoyilgan talablarni qanoatlantirsa, kiril harfi bolmasa, raqam bolmasa:

In [ ]:
df1.Yil

a    2021
b    2020
c    2019
d    2018
e    2017
f    2016
g    2015
h    2014
Name: Yil, dtype: int64

demak ikki usulda ustunlarni ajratib olsak bolarkan, llugat korinishida, parameter korinishida

In [ ]:
df1.Tugulishlar_Soni = 0
df1

    Yil  Temp  Tugulishlar_Soni
a  2021  1.54                 0
b  2020  1.48                 0
c  2019  1.56                 0
d  2018  1.62                 0
e  2017  1.65                 0
f  2016  1.66                 0
g  2015  1.64                 0
h  2014  1.53                 0

aohida alohida qiymatlarini ham ozgartirishimiz mmumkin umumiy qiymat berganimizdan farqli olaroq, bu ucuhun Series yaratvorlib uni yuklaymiz Daraframega

In [ ]:
ts_series = pd.Series([1700, 1800, 2000], index=['b', 'e', 'h'])
df1.Tugulishlar_Soni = ts_series
df1

    Yil  Temp  Tugulishlar_Soni
a  2021  1.54               NaN
b  2020  1.48            1700.0
c  2019  1.56               NaN
d  2018  1.62               NaN
e  2017  1.65            1800.0
f  2016  1.66               NaN
g  2015  1.64               NaN
h  2014  1.53            2000.0

In [ ]:
df1.Tugulishlar_Soni = [1700, 1800, 2000, 3000, 2222, 1111, 4444, 5555]
df1

    Yil  Temp  Tugulishlar_Soni
a  2021  1.54              1700
b  2020  1.48              1800
c  2019  1.56              2000
d  2018  1.62              3000
e  2017  1.65              2222
f  2016  1.66              1111
g  2015  1.64              4444
h  2014  1.53              5555

In [ ]:
# ham yangi ustun qoshyapmiz, ham shartga tekshirib unga asoslangan holda qiymat berib ketyapmiz
df1['1500+'] = df1.Tugulishlar_Soni > 2000
df1

    Yil  Temp  Tugulishlar_Soni  1500+
a  2021  1.54              1700  False
b  2020  1.48              1800  False
c  2019  1.56              2000  False
d  2018  1.62              3000   True
e  2017  1.65              2222   True
f  2016  1.66              1111  False
g  2015  1.64              4444   True
h  2014  1.53              5555   True

In [ ]:
# lugatlarni ochirib yuborganimizdek DEL funksiyasi orqali bizam ochirib yuborishimiz mumkin

del df1['Tugulishlar_Soni']
df1

    Yil  Temp  1500+
a  2021  1.54  False
b  2020  1.48  False
c  2019  1.56  False
d  2018  1.62   True
e  2017  1.65   True
f  2016  1.66  False
g  2015  1.64   True
h  2014  1.53   True

### Dataframe yaratishning 2-usuli,
## lugatlardagi lugatlar orqali dataframe hosil qilish

In [ ]:
data = {
    'Uzb': {
              2021: 33.9,
              2020: 33.5,
              2019: 32.9,
              2018: 32.5,
              2017: 31.9
           },
    'Kaz': {
              2021: 18.9,
              2020: 18.7,
              2019: 18.5,
              2018: 18.3,
              2017: 18.1,
              2016: 17.8
           },
      }

df_dict = pd.DataFrame(data)
df_dict

       Uzb   Kaz
2021  33.9  18.9
2020  33.5  18.7
2019  32.9  18.5
2018  32.5  18.3
2017  31.9  18.1
2016   NaN  17.8

Lugatimizdagi katta kalitlar bu ustun nomi boldi, ichidagi kalitlar esa bu qator nomi boldi

In [ ]:
# Indekslarni nomlash
df_dict.index.name = 'Yil'
df_dict

       Uzb   Kaz
Yil
2021  33.9  18.9
2020  33.5  18.7
2019  32.9  18.5
2018  32.5  18.3
2017  31.9  18.1
2016   NaN  17.8

Deylik lugatdagi barcha malumotlar bizga kerak emas, 2021, 2018, 2017 yildagi malumotlar kerak bolsin

In [ ]:
df_dict = pd.DataFrame(data, index=[2021, 2018, 2017])
df_dict

       Uzb   Kaz
2021  33.9  18.9
2018  32.5  18.3
2017  31.9  18.1

In [ ]:
# ustunlar va qatorlar almashtirib qoymoqchimiz
df_dict.T

     2021  2018  2017
Uzb  33.9  32.5  31.9
Kaz  18.9  18.3  18.1

biz dataframeni N olchamli massivlarga ajratib olmoqchi bolsak NumPyda hisoblashlar uchun

In [ ]:
arr2d = df_dict.values # 2d array
arr2d

array([[33.9, 18.9],
       [32.5, 18.3],
       [31.9, 18.1]])

In [ ]:
type(arr2d)

numpy.ndarray

DataFrame tartibli ustunlardan iborat, ikki o'lchovli (jadval ko'rinishidadi) ma'lumotlar tuzilmasi. Har bir ustun bir turdagi ma'lumotlarni saqlaydi (sonlar, matnlar, Boolean va hokazo). DataFrame ustunlari ham qatorlari ham indekslangan bo'ladi. Umuman olganda DataFrameni bir nechta Seriesdan iboirat lug'atlar deb tasavvur qilishimiz mumkin.

In [ ]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

### Index obyekti
Series va DataFrame indeklasri ham maxsus Index obyekti hisoblanadi.

In [ ]:
df = pd.DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

In [ ]:
indeks = df.index
indeks

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

In [ ]:
indeks[0]

21

In [ ]:
indeks[-1]

10

In [ ]:
indeks[2:5]

Int64Index([19, 18, 17], dtype='int64')

In [ ]:
indeks[0]=22

TypeError: ignored

In [ ]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.columns

Index(['Yil', 'Aholi soni', 'Temp'], dtype='object')

In [ ]:
'Tajikistan' in df.columns

False

In [ ]:
2020 in df.index

False

In [ ]:
indeks = df.index

Python ro'yxatlaridan farqli ravishda Index takrorlanuvchi qiymatlar ega bo'lishi mumkin:

In [ ]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [ ]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}
df2 = df.append(pd.DataFrame(data2))
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [ ]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

### Bazi Index metodlar va parametrlar

In [ ]:
newind = pd.Index(['olim','nafisa','hamida']) # yangi indeks yaratamiz
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

Indeks boshqa indeks tarkbidia ekanini tekshirish

In [ ]:
newind.isin(df2.index) # newind df2.index tarkibida borligni tekshirish

array([ True, False, False])

Indeksning boshqa indeksdan farqini tekshirish

In [ ]:
df2.index.difference(newind) # df2

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [ ]:
newind.difference(df2.index)

Index(['hamida', 'nafisa'], dtype='object')

Ikki indeks to'plami

In [ ]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

### .delete() va .drop()

In [ ]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [ ]:
df2.index.drop('olim')

Index(['anvar', 'maryam', 'javohir', 'maryam'], dtype='object')

In [ ]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

### .insert()

In [ ]:
df2.index.insert(5,'masha') # 5-o'ringa mashani qo'shamiz

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'masha', 'maryam'], dtype='object')

### .is_monotonic va .is_unique

In [ ]:
df2.index.is_monotonic

False

In [ ]:
df2.index.is_unique

False

In [ ]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [ ]:
newind.is_unique

True

### .unique()

In [ ]:
df2.index.unique() # noyob (takrorlanmas) elementlar

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [ ]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [ ]:
df2['head'] = 0
df2

            username                 email  head
anvar    anvarbek223       anvar@gmail.com     0
olim         olimtoy          olim@mail.ru     0
maryam    mary334455      mary33@gmail.com     0
javohir   javohir445  javohir445@gmail.com     0
olim       olimjon21     olimjon21@mail.ru     0
maryam    maryam2020    maryam20@gmail.com     0

In [ ]:
df2.username

anvar      anvarbek223
olim           olimtoy
maryam      mary334455
javohir     javohir445
olim         olimjon21
maryam      maryam2020
Name: username, dtype: object

In [ ]:
type(df2.username)

pandas.core.series.Series

In [ ]:
df2.head

<bound method NDFrame.head of             username                 email  head
anvar    anvarbek223       anvar@gmail.com     0
olim         olimtoy          olim@mail.ru     0
maryam    mary334455      mary33@gmail.com     0
javohir   javohir445  javohir445@gmail.com     0
olim       olimjon21     olimjon21@mail.ru     0
maryam    maryam2020    maryam20@gmail.com     0>

In [ ]:
df2['head']

anvar      0
olim       0
maryam     0
javohir    0
olim       0
maryam     0
Name: head, dtype: int64

In [ ]:
type(df2)

pandas.core.frame.DataFrame