<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/DS_3_Modul_3_Amaliyot_tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [23]:
import pandas as pd
import numpy as np

In [42]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,4,45,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Telikipenta,Sarubujjili,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,5,54,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Thandemvalasa,Srikakulam,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,335390,65,Male,SC,S3,OPHTHALMOLOGY SURGERY,SU66,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,Ponnur,...,04-08-2017 21:23,23320,Sankar Eye Hospital,C,Guntur,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,335391,54,Female,OC,S12,MEDICAL ONCOLOGY,S12.1.4,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,Udayagiri,...,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,C,Hyderabad,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,335392,19,Female,SC,S12,MEDICAL ONCOLOGY,S12.28.1,Palliative Chemotherapy for unlisted Regimen,Vinduru,Gudur,...,04-10-2017 19:46,5000,M.N.J.Hospitals,G,Hyderabad,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,335393,50,Male,BC,S9,GENITO URINARY SURGERIES,S9.3.4,ursl,Duppituru,Atchutapuram,...,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,C,Vishakhapatnam,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,335394,46,Female,SC,S12,MEDICAL ONCOLOGY,S12.2.1,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,Mummidivaram,...,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,East Godavari,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [43]:
# Javobni shuyerga yozing

sum(df.duplicated())

0

In [44]:
#@title **To'g'ri javob**
sum(df.duplicated())

0

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [45]:
# Javobni shuyerga yozing
df.drop(['Sno', 'CATEGORY_CODE', 'SURGERY_CODE', 'MANDAL_NAME', 'DISTRICT_NAME', 'HOSP_DISTRICT'], axis=1)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Female,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,65,Male,SC,OPHTHALMOLOGY SURGERY,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,08-06-2017 06:40,23320,04-08-2017 21:23,23320,Sankar Eye Hospital,C,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,54,Female,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,05-06-2017 22:35,7140,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,C,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,19,Female,SC,MEDICAL ONCOLOGY,Palliative Chemotherapy for unlisted Regimen,Vinduru,06-06-2017 06:13,5000,04-10-2017 19:46,5000,M.N.J.Hospitals,G,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,50,Male,BC,GENITO URINARY SURGERIES,ursl,Duppituru,05-06-2017 23:37,25000,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,C,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,46,Female,SC,MEDICAL ONCOLOGY,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,06-06-2017 23:02,2040,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

In [46]:
#@title **To'g'ri javob**
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Female,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,65,Male,SC,OPHTHALMOLOGY SURGERY,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,08-06-2017 06:40,23320,04-08-2017 21:23,23320,Sankar Eye Hospital,C,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,54,Female,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,05-06-2017 22:35,7140,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,C,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,19,Female,SC,MEDICAL ONCOLOGY,Palliative Chemotherapy for unlisted Regimen,Vinduru,06-06-2017 06:13,5000,04-10-2017 19:46,5000,M.N.J.Hospitals,G,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,50,Male,BC,GENITO URINARY SURGERIES,ursl,Duppituru,05-06-2017 23:37,25000,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,C,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,46,Female,SC,MEDICAL ONCOLOGY,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,06-06-2017 23:02,2040,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [47]:
# Javobni shuyerga yozing

df.SEX.unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

In [48]:
#@title **To'g'ri javob**
df["SEX"].unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [49]:
# Javobni shuyerga yozing

dic = {'Male': 'Erkak', 'Male(Child)': 'Erkak', 'Female': 'Ayol', 'FEMALE': 'Ayol', 'Female(Child)': 'Ayol'}
df.SEX = df.SEX.map(dic)
df.head(30)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Ayol,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
5,35,Erkak,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Phasigangupeta,28-08-2013 17:30,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,P
6,52,Erkak,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kranti Nagar,30-08-2013 07:53,12500,22-03-2017 20:25,11000,Govt General Hospital Kurnool,G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
7,73,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Bhoghapuram,02-05-2014 15:11,12500,11-10-2017 19:34,5000,Queens Nri Hospitals,C,05-05-2014 00:00,NaN,YES,23-05-2014 00:00,D
8,56,Erkak,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Balloon Angioplasty with stent(00.45),Vallur,10-06-2014 17:02,40000,17-02-2017 19:21,40000,Karumuri Hospital,C,14-06-2014 00:00,16-06-2014 00:00,NO,NaN,D
9,49,Erkak,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Ward-15,11-06-2014 20:41,115846,17-02-2017 19:21,115846,Karumuri Hospital,C,17-06-2014 00:00,25-06-2014 00:00,NO,NaN,D
10,52,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Rajam,25-06-2014 08:45,12500,03-10-2017 20:37,6250,Queens Nri Hospitals,C,27-06-2014 00:00,NaN,YES,16-07-2014 00:00,P
11,56,Erkak,SC,CARDIOLOGY,Management Of Acute MI With Angiogram,Thurlapadu,04-07-2014 15:12,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,04-07-2014 00:00,09-07-2014 00:00,NO,NaN,D
12,65,Ayol,SC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Pulipadu,09-07-2014 10:17,40000,17-02-2017 18:54,40000,Karumuri Hospital,C,08-07-2014 00:00,16-07-2014 00:00,NO,NaN,P
13,75,Erkak,OC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Karlapalem,10-07-2014 20:59,40000,17-02-2017 18:54,40000,Karumuri Hospital,C,10-07-2014 00:00,19-07-2014 00:00,NO,NaN,D
14,52,Erkak,OC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Ward-19,13-07-2014 18:09,40000,17-02-2017 18:54,25000,Karumuri Hospital,C,13-07-2014 00:00,19-07-2014 00:00,NO,NaN,D
15,56,Erkak,Minorities,CARDIOLOGY,Management Of Acute MI With Angiogram,Tullur,16-07-2014 21:08,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,15-07-2014 00:00,21-07-2014 00:00,NO,NaN,D
16,1,Erkak,OC,COCHLEAR IMPLANT SURGERY,Cochlear Implant Surgery,Phirangipuram,20-07-2017 20:20,520000,27-10-2017 19:54,520000,Ent Nursing Home,C,16-08-2017 00:00,17-08-2017 00:00,NO,NaN,D
17,54,Ayol,SC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Kolakalur,27-07-2014 18:01,115846,17-02-2017 19:22,108846,Karumuri Hospital,C,29-07-2014 00:00,08-08-2014 00:00,NO,NaN,D
18,48,Erkak,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Vellalur,27-07-2014 18:01,115846,17-02-2017 19:22,110846,Karumuri Hospital,C,28-07-2014 00:00,06-08-2014 00:00,NO,NaN,D
19,57,Ayol,OC,CARDIOLOGY,Management Of Acute MI With Angiogram,Phirangipuram,28-07-2014 08:37,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,27-07-2014 00:00,02-08-2014 00:00,NO,NaN,D
20,55,Erkak,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Ayyavari Polavaram,29-07-2014 14:58,12500,10-01-2017 02:04,2500,Queens Nri Hospitals,C,05-08-2014 00:00,19-12-2014 00:00,YES,19-12-2014 00:00,D
21,74,Ayol,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,4th Ward,01-08-2014 17:51,30000,09-05-2017 18:35,30000,KIMS SAI SESHDRI HOSPITAL,C,01-08-2014 00:00,05-08-2014 00:00,NO,NaN,D
22,57,Erkak,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Kambakaya,01-08-2014 17:49,30000,09-05-2017 18:35,25000,KIMS SAI SESHDRI HOSPITAL,C,01-08-2014 00:00,05-08-2014 00:00,NO,NaN,D
23,56,Erkak,BC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Konduru,03-08-2014 15:44,115846,17-02-2017 19:22,110000,Karumuri Hospital,C,05-08-2014 00:00,14-08-2014 00:00,NO,NaN,D
24,31,Erkak,BC,ORTHOPEDIC SURGERY AND PROCEDURES,Excision Or Other Operations For Scaphoid Frac...,Laxmipuram,03-08-2014 10:23,15000,09-05-2017 18:35,5000,KIMS SAI SESHDRI HOSPITAL,C,04-08-2014 00:00,11-08-2014 00:00,NO,NaN,D
25,68,Erkak,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Matchalesam,03-08-2014 14:53,30000,09-05-2017 18:35,30000,KIMS SAI SESHDRI HOSPITAL,C,02-08-2014 00:00,06-08-2014 00:00,NO,NaN,D
26,72,Ayol,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Meghavaram,03-08-2014 12:19,30000,09-05-2017 18:35,10000,KIMS SAI SESHDRI HOSPITAL,C,02-08-2014 00:00,06-08-2014 00:00,YES,06-08-2014 00:00,MC
27,66,Ayol,OC,CARDIOLOGY,Management Of Acute MI With Angiogram,Chavali,04-08-2014 12:21,30000,17-02-2017 18:54,20000,Karumuri Hospital,C,03-08-2014 00:00,08-08-2014 00:00,NO,NaN,D
28,35,Erkak,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Shermahammadpuram,04-08-2014 12:15,30000,09-05-2017 18:36,30000,KIMS SAI SESHDRI HOSPITAL,C,03-08-2014 00:00,08-08-2014 00:00,NO,NaN,D
29,72,Ayol,SC,CARDIOLOGY,Management Of Acute MI With Angiogram,Talagam,04-08-2014 18:23,30000,09-05-2017 18:36,25000,KIMS SAI SESHDRI HOSPITAL,C,04-08-2014 00:00,09-08-2014 00:00,NO,NaN,P

In [ ]:
#@title **To'g'ri javob**
dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [50]:
# Javobni shuyerga yozing
df.SEX = df.SEX.map({'Erkak':1, 'Ayol':0})
df.head(30)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,0,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
5,35,1,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Phasigangupeta,28-08-2013 17:30,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,P
6,52,1,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kranti Nagar,30-08-2013 07:53,12500,22-03-2017 20:25,11000,Govt General Hospital Kurnool,G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
7,73,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Bhoghapuram,02-05-2014 15:11,12500,11-10-2017 19:34,5000,Queens Nri Hospitals,C,05-05-2014 00:00,NaN,YES,23-05-2014 00:00,D
8,56,1,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Balloon Angioplasty with stent(00.45),Vallur,10-06-2014 17:02,40000,17-02-2017 19:21,40000,Karumuri Hospital,C,14-06-2014 00:00,16-06-2014 00:00,NO,NaN,D
9,49,1,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Ward-15,11-06-2014 20:41,115846,17-02-2017 19:21,115846,Karumuri Hospital,C,17-06-2014 00:00,25-06-2014 00:00,NO,NaN,D
10,52,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Rajam,25-06-2014 08:45,12500,03-10-2017 20:37,6250,Queens Nri Hospitals,C,27-06-2014 00:00,NaN,YES,16-07-2014 00:00,P
11,56,1,SC,CARDIOLOGY,Management Of Acute MI With Angiogram,Thurlapadu,04-07-2014 15:12,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,04-07-2014 00:00,09-07-2014 00:00,NO,NaN,D
12,65,0,SC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Pulipadu,09-07-2014 10:17,40000,17-02-2017 18:54,40000,Karumuri Hospital,C,08-07-2014 00:00,16-07-2014 00:00,NO,NaN,P
13,75,1,OC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Karlapalem,10-07-2014 20:59,40000,17-02-2017 18:54,40000,Karumuri Hospital,C,10-07-2014 00:00,19-07-2014 00:00,NO,NaN,D
14,52,1,OC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Ward-19,13-07-2014 18:09,40000,17-02-2017 18:54,25000,Karumuri Hospital,C,13-07-2014 00:00,19-07-2014 00:00,NO,NaN,D
15,56,1,Minorities,CARDIOLOGY,Management Of Acute MI With Angiogram,Tullur,16-07-2014 21:08,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,15-07-2014 00:00,21-07-2014 00:00,NO,NaN,D
16,1,1,OC,COCHLEAR IMPLANT SURGERY,Cochlear Implant Surgery,Phirangipuram,20-07-2017 20:20,520000,27-10-2017 19:54,520000,Ent Nursing Home,C,16-08-2017 00:00,17-08-2017 00:00,NO,NaN,D
17,54,0,SC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Kolakalur,27-07-2014 18:01,115846,17-02-2017 19:22,108846,Karumuri Hospital,C,29-07-2014 00:00,08-08-2014 00:00,NO,NaN,D
18,48,1,OC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Vellalur,27-07-2014 18:01,115846,17-02-2017 19:22,110846,Karumuri Hospital,C,28-07-2014 00:00,06-08-2014 00:00,NO,NaN,D
19,57,0,OC,CARDIOLOGY,Management Of Acute MI With Angiogram,Phirangipuram,28-07-2014 08:37,30000,17-02-2017 18:54,30000,Karumuri Hospital,C,27-07-2014 00:00,02-08-2014 00:00,NO,NaN,D
20,55,1,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Ayyavari Polavaram,29-07-2014 14:58,12500,10-01-2017 02:04,2500,Queens Nri Hospitals,C,05-08-2014 00:00,19-12-2014 00:00,YES,19-12-2014 00:00,D
21,74,0,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,4th Ward,01-08-2014 17:51,30000,09-05-2017 18:35,30000,KIMS SAI SESHDRI HOSPITAL,C,01-08-2014 00:00,05-08-2014 00:00,NO,NaN,D
22,57,1,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Kambakaya,01-08-2014 17:49,30000,09-05-2017 18:35,25000,KIMS SAI SESHDRI HOSPITAL,C,01-08-2014 00:00,05-08-2014 00:00,NO,NaN,D
23,56,1,BC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Bypass Surgery,Konduru,03-08-2014 15:44,115846,17-02-2017 19:22,110000,Karumuri Hospital,C,05-08-2014 00:00,14-08-2014 00:00,NO,NaN,D
24,31,1,BC,ORTHOPEDIC SURGERY AND PROCEDURES,Excision Or Other Operations For Scaphoid Frac...,Laxmipuram,03-08-2014 10:23,15000,09-05-2017 18:35,5000,KIMS SAI SESHDRI HOSPITAL,C,04-08-2014 00:00,11-08-2014 00:00,NO,NaN,D
25,68,1,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Matchalesam,03-08-2014 14:53,30000,09-05-2017 18:35,30000,KIMS SAI SESHDRI HOSPITAL,C,02-08-2014 00:00,06-08-2014 00:00,NO,NaN,D
26,72,0,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Meghavaram,03-08-2014 12:19,30000,09-05-2017 18:35,10000,KIMS SAI SESHDRI HOSPITAL,C,02-08-2014 00:00,06-08-2014 00:00,YES,06-08-2014 00:00,MC
27,66,0,OC,CARDIOLOGY,Management Of Acute MI With Angiogram,Chavali,04-08-2014 12:21,30000,17-02-2017 18:54,20000,Karumuri Hospital,C,03-08-2014 00:00,08-08-2014 00:00,NO,NaN,D
28,35,1,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Shermahammadpuram,04-08-2014 12:15,30000,09-05-2017 18:36,30000,KIMS SAI SESHDRI HOSPITAL,C,03-08-2014 00:00,08-08-2014 00:00,NO,NaN,D
29,72,0,SC,CARDIOLOGY,Management Of Acute MI With Angiogram,Talagam,04-08-2014 18:23,30000,09-05-2017 18:36,25000,KIMS SAI SESHDRI HOSPITAL,C,04-08-2014 00:00,09-08-2014 00:00,NO,NaN,P

In [ ]:
#@title **To'g'ri javob**
dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head(5)

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [51]:
# Javobni shuyerga yozing

df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [52]:
# Javobni shuyerga yozing
df[df['HOSP_TYPE'] == 'Umumiy'].shape

(94255, 17)

In [53]:
df[df['HOSP_TYPE'] == 'Maxsus'].shape

(241139, 17)

In [54]:
#@title **To'g'ri javob**
df["HOSP_TYPE"].value_counts()

Maxsus    241139
Umumiy     94255
Name: HOSP_TYPE, dtype: int64

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [ ]:
# Javobni shuyerga yozing

In [55]:
#@title **To'g'ri javob**
sum(df.duplicated())

30

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [56]:
# Javobni shuyerga yozing

df.drop_duplicates()

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,0,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",Umumiy,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,65,1,SC,OPHTHALMOLOGY SURGERY,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,08-06-2017 06:40,23320,04-08-2017 21:23,23320,Sankar Eye Hospital,Maxsus,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,54,0,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,05-06-2017 22:35,7140,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,Maxsus,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,19,0,SC,MEDICAL ONCOLOGY,Palliative Chemotherapy for unlisted Regimen,Vinduru,06-06-2017 06:13,5000,04-10-2017 19:46,5000,M.N.J.Hospitals,Umumiy,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,50,1,BC,GENITO URINARY SURGERIES,ursl,Duppituru,05-06-2017 23:37,25000,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,Maxsus,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,46,0,SC,MEDICAL ONCOLOGY,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,06-06-2017 23:02,2040,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,Maxsus,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

In [57]:
sum(df.duplicated())

30

In [58]:
#@title **To'g'ri javob**
df.drop_duplicates(inplace=True)

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [72]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

HOSP_TYPE
Maxsus    30275.151848
Umumiy    22683.770100
Name: CLAIM_AMOUNT, dtype: float64

In [64]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

HOSP_TYPE
Maxsus    30275.151848
Umumiy    22683.770100
Name: CLAIM_AMOUNT, dtype: float64

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [73]:
# Javobni shuyerga yozing

df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

HOSP_TYPE
Maxsus    2
Umumiy    2
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [74]:
# Javobni shuyerga yozing


df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

HOSP_TYPE
Maxsus    520000
Umumiy    520000
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [75]:
# Javobni shuyerga yozing

df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])

     min     max          mean
SEX
0      2  520000  25960.356579
1      2  520000  29586.732405

In [ ]:
#@title **To'g'ri javob**
df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])