<a href="https://colab.research.google.com/github/jfcoderx/DS/blob/master/fs_nb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Assalomu alaykum, birinchi ipynb')

Assalomu alaykum, birinchi ipynb

# Heading
- Kirish
- Muqaddima

In [ ]:
import numpy as nm
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import torch
import tensorflow as tf
import keras

print(nm.__version__)
print(pd.__version__)
print(sklearn.__version__)
print(torch.__version__)
print(tf.__version__)
print(keras.__version__)

1.21.6
1.3.5
1.0.2
1.12.1+cu113
2.8.2
2.8.0

In [ ]:
!ls

sample_data

In [ ]:
import pandas as pd
files = pd.read_excel('/content/data/03_Tasks.xlsx')
files.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Маҳсулот,"Қолдиқ, дона",Кирим нарҳи,Сотиш нарҳи,Ўртача кунлик савдо,"Норматив, кун","Умумий қолдиқ, сўм","Қолдиқ, кун","Ялпи даромад, кунлик",Ялпи даромадда улушлар,MML,Маржа,Устама,OOS сабабли йўқотиш,Музлатилган пул,"Музлатилган пул, қолдиққа нисбатан фоизда"
2,NaN,Маҳсулот №1,400,5000,6000,20,10,2000000,20,20000,0.018605,NaN,0.166667,0.2,NaN,1000000,NaN
3,NaN,Маҳсулот №2,350,60000,75000,5,10,21000000,70,75000,0.069767,NaN,0.2,0.25,NaN,18000000,NaN
4,NaN,Маҳсулот №3,5000,2000,2200,2000,10,10000000,2.5,400000,0.372093,0.372093,0.090909,0.1,3000000,NaN,NaN