<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/PD_01_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Malumotlar tahlili. Pandas Kutubxonasi'

### Pandas kutubxonasi tanishuv

Aynan Data Sciense uchun yonaltirilgan. Malumotlarga ishlov berish uchun moljallashgan maxsus kutubxona bolib, maxsus malumot tuzilmalari (series) bilan keladi. Bu malumotlar tuzilmalari orqali katta katta malumotlarga ishlov berish, tozalash, turli xil amallarni bajariladi.

In [ ]:
import pandas as pd
import numpy as np

Pandas malumotlari tuzilmasi tarkibida ikta muhim tuzilma mavjud:

1. Series
2. Data Frames

In [ ]:
from pandas import Series # Series malumotlar tuzilmasi

Pythondagi har qanday element yoki narsa bu obyekt boladi, seriesga tegishli malumotlar tuzilmasi ham

In [ ]:
obj = Series([4, 5, 6, -7.5]) # obj nomli SERIES yaratish
obj

0    4.0
1    5.0
2    6.0
3   -7.5
dtype: float64

chap tomoni indeksi, o'ng tomoni float64 turli malumot

In [ ]:
type(obj) # series tipini korish

pandas.core.series.Series

In [ ]:
obj.values # qiymatlarni ozini kormoqchimiz

array([ 4. ,  5. ,  6. , -7.5])

In [ ]:
obj.index # indekslarini kormoqchi bolsak

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj[0] # nol indeksdagi elementni chiqarish

4.0

Seriesni Listdan farqi, biz Series indekslarini ham o'zimiz bera olamiz

In [ ]:
obj2 = Series([6, 2, 1, 4], ['A', 'B', 'c', 'd']) # Indekslari ozgartirilgan Serieslar
obj2

A    6
B    2
c    1
d    4
dtype: int64

In [ ]:
obj2.index # obj2 ning indekslari

Index(['A', 'B', 'c', 'd'], dtype='object')

In [ ]:
obj2['A'] # A indeksdagi elementni chiqarish

6

In [ ]:
obj2[['A', 'c', 'd']] # indekslari A c d bolgan elementlarni chiqarish, 2talik tortburchak qavslar ichida

A    6
c    1
d    4
dtype: int64

In [ ]:
obj2[['c', 'A', 'd']] # ketma ketliklarini farqi yoq

c    1
A    6
d    4
dtype: int64

In [ ]:
obj2[['d', 'd', 'd']] # bir xil indekslar, yoq indekslar kiritsak xatolik chiqaradi

d    4
d    4
d    4
dtype: int64

In [ ]:
obj2

A    6
B    2
c    1
d    4
dtype: int64

In [ ]:
obj2[obj2 > 2] # obj2 elementlarining 2dan kattalarini chiqarish

A    6
d    4
dtype: int64

In [ ]:
obj2[obj2 < 3] # obj2 elementlarining 3dan kichiklarini chiqarish

B    2
c    1
dtype: int64

In [ ]:
obj2 * 2 # hamma elementlari 2 ga kopaytiradi

A    12
B     4
c     2
d     8
dtype: int64

In [ ]:
np.exp(obj2) # har bir elementti uchun expoenentasini topish

A    403.428793
B      7.389056
c      2.718282
d     54.598150
dtype: float64

Biz seriesni bir indekslari orqali chiqarsak, bu pytondagi lugatga oxshab ketadi, chap tomonida indeks, ong tomonida qiymat, bu pythondagi lugatga tochna oxshaydi

Biz Seriesni lugatlar orqali ham yaratishimiz mumkin, pythondagi lugatlarni Series malumot turiga togridan togri otkazish mumkin

In [ ]:
cars = {'Malibu': 40000, 'Lasetti': 20000, 'Toyota': 45000, 'Mazda': 52000, 'Honda': 38000}
cars

{'Malibu': 40000,
 'Lasetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [ ]:
cars_dict = Series(cars)
cars_dict

Malibu     40000
Lasetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
obj2 = Series({'A': 6, 'B': 2, 'c': 1, 'd': 1}) # Lugat orqali series yaratish
obj2

A    6
B    2
c    1
d    1
dtype: int64

In [ ]:
'Toyota' in  cars_dict # Toyota obj ichida bormi yoqmi tekshirish

True

In [ ]:
'Spark' in  cars_dict # Spark obj ichida bormi yoqmi tekshirish

False

In [ ]:
models = ['Honda', 'Mazda', 'Lasetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', "Mercedes"]
cars_dict

Malibu     40000
Lasetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
cars_series = Series(cars_dict, index=models) # indeksni biz korsatgan boyicha kritish
cars_series

Honda       38000.0
Mazda       52000.0
Lasetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

Jaguar lugatimizda mavjud emas edi, shu sabab unga NaN qiymat yuklab ketdi

Ko'rib turibsizki biz bu kabi Serieslarni ozimiz yaratyapmiz, odatta qanday bo'ladi? <br>
Bizda qandaydir katta malumotlar boladi, bu malumotlar excel korinishida, matn ko'rinishida bo'lishi mumkin va biz bu malumotlar jamlanmasini Seriesga o'tkazamiz, shu holatlarda bizni jadvalimiz to'liq bo'lmasligi mumkin, qayerlaridadir NaN turidagi bo'sh joylar qolib ketadi, NaN larning malumotlarimiz ichida bo'lishi yaxshimas, chunki machine learningimizda bizga bu halaqit berishi mumkin, biz bularning oldini olishda Seriesning bir nechta elementlaridan foydalanishimiz mumkin

ISNULL (nullmi, mavjud emasmi)<br>
Har bir qiymatni qarab chiqadida Nolga, Nanga teng bolsa, True qaytaradi, mavjud bolmasa False qaytaradi

In [ ]:
cars_series.isnull()

Honda       False
Mazda       False
Lasetti     False
Jaguar       True
Malibu      False
Toyota      False
BMW          True
Mercedes     True
dtype: bool

Hondani qiymati borligi uchun False deyapti, Jaguarni qiymati bolmagani uchun True deyapti

NOTNULL (null emasmi) <br>
ISNULNI TESKARISI <br>
qiymati bor bolsa True, mavjud bolmasa, False

In [ ]:
cars_series.notnull()

Honda        True
Mazda        True
Lasetti      True
Jaguar      False
Malibu       True
Toyota       True
BMW         False
Mercedes    False
dtype: bool

In [ ]:
print(cars_series)
print()
print(cars_dict)

Honda       38000.0
Mazda       52000.0
Lasetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

Malibu     40000
Lasetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

Bu serieslar ustida arifmetik amallar ham bajarsak bo'ladi

In [ ]:
cars_series + cars_dict

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lasetti      40000.0
Malibu       80000.0
Mazda       104000.0
Mercedes         NaN
Toyota       90000.0
dtype: float64

Etibor bersak, aynan kalitlari yani indekslari boyicha qoshishni bajardi, song Alfabet tartibida chiqardi

Biz Serieslarimizga nom bersak boladi

In [ ]:
# Seriesga Nom Berish
cars_series.name = 'Avtosalon'

# Indekslarga ham Nom berish
cars_series.index.name = 'Models'

In [ ]:
cars_series

Models
Honda       38000.0
Mazda       52000.0
Lasetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64

In [ ]:
# HASNANS - NaN bor yoqligini tekshiradi
cars_series.hasnans

True

In [ ]:
# DTYPE - qiymatlarning malumot turi
cars_series.dtype

dtype('float64')

In [ ]:
# IS_UNIQUE qiymatlar takrorlanmas ekanligini tekshirish
cars_series.is_unique

False

In [ ]:
cars_series['Malibu'] = 4000 # Seriesga yangi malumot qoshish 
cars_series['Toyota'] = 4000 # Series malumotini ozgartirish

In [ ]:
cars_series

Models
Honda       38000.0
Mazda       52000.0
Lasetti     20000.0
Jaguar          NaN
Malibu       4000.0
Toyota       4000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64

In [ ]:
cars_series.is_unique

False

In [ ]:
obj3 = Series({
    'a': 1,
    'a': 2,
    'a': 3
})
obj3.values

array([3])

In [ ]:
obj3.is_unique

True

In [ ]:
# SHAPE - Series shakli
cars_series.shape

(8,)

In [ ]:
# SIZE - Series shakli
cars_series.size

8

In [ ]:
# ILOC - malumotlarga joylashgan orni tartib raqami boyicha
cars_series.iloc[2]

20000.0

In [ ]:
cars_series[2]

20000.0

In [ ]:
obj4 = Series([4, 5, 6, 7, 8], index=[4, 3, 2, 1, 0])
obj4

4    4
3    5
2    6
1    7
0    8
dtype: int64

In [ ]:
obj4[1] # == obj4.loc[1]

7

In [ ]:
obj4.iloc[1]

5

In [ ]:
obj4.iloc[-1]

8

In [ ]:
cars_series

Models
Honda       38000.0
Mazda       52000.0
Lasetti     20000.0
Jaguar          NaN
Malibu       4000.0
Toyota       4000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64

In [ ]:
cars_series.max() # Series ichidan Maks qiymat qaytaradi

52000.0

In [ ]:
cars_series.min() # Series ichidan Min qiymat qaytaradi

4000.0

In [ ]:
cars_series.mean() # Series ichidan Ortacha qiymati qaytaradi

23600.0

In [ ]:
names = {'J': 'Jasur', 'I': 'Ikrom', 'H': 'Habib', 'A': 'Aziz'}
names_series = Series(names)
names_series

J    Jasur
I    Ikrom
H    Habib
A     Aziz
dtype: object

In [ ]:
names_series.dtype

dtype('O')

In [ ]:
names_series.shape

(4,)

In [ ]:
names_series.size

4

In [ ]:
names_series.ndim

1

In [ ]:
names_series2 = Series({'J': 'Jasur', 'I': 'Ikrom', 'H': 'Habib', 'L': 'Laziz'})
names_series2

J    Jasur
I    Ikrom
H    Habib
L    Laziz
dtype: object

In [ ]:
names_series2 + names_series

A           NaN
H    HabibHabib
I    IkromIkrom
J    JasurJasur
L           NaN
dtype: object