<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/PD_ARIF_FUNC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Series va DataFramelar ustida
# ARIFMETIK AMALLAR

In [6]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [7]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [8]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [20]:
# Serieslarda arifmetik amallar bevosita indexlar bo'yicha bajariladi
# Bor qiymatni NaN qiymatga qo'shsa, javob NaN chiqaveradi

s1 + s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [16]:
d1 = pd.DataFrame(np.arange(9.).reshape(3, 3), columns=list('bcd'), index=['Olma', 'Anor', 'Uzum'])
d2 = pd.DataFrame(np.arange(12.).reshape(4, 3), columns=list('abc'), index=['Olma', 'Anor', 'Qovun', 'Anjir'])

In [17]:
d1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [18]:
d2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [19]:
# DataFrame da ARIFMETIK AMALLAR ham qator ham ustun bo'yicha bajariladi
# Ham bir xil QATOR, Ham bir xil USTUN bo'lishi kerak
# Demak NaN qiymatga istalgan qiymat qo'shilsa, NaN hosil bo'ladi

d1 + d2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [22]:
# Qo'shish amalin ADD funksiyasi bilan ham bajarsak bo'ladi
# ADD ning afzalligi, bu funksiya ichida qo'shimcha parametr qo'ya olamiz

# fill_value = 0,
# Bir jadvalda qatori ham bor ustuni ham bor,
# ikkinchi jadvalda esa, ustuni bor yoki qatori bor, yoki ikkalasi ham yoq
# ana shu ikkinchi jadval uchun 0 ni qoyib ketadi

# ammo birini ustuni bor qatori yoq
# ikkinchini qatori yoq ustuni bor bolsa
# bularni qoshganda NaN bo'ladi

d1.add(d2, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [23]:
# ayirish SUB da qaysini qaysidan ayirish muhim

d2.sub(d1)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  1.0  1.0 NaN
Olma  NaN  1.0  1.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

In [24]:
d2.sub(d1, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   1.0   1.0 -5.0
Olma   0.0   1.0   1.0 -2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN  -6.0  -7.0 -8.0

In [25]:
d1.sub(d2, fill_value=0)

         a     b     c    d
Anjir -9.0 -10.0 -11.0  NaN
Anor  -3.0  -1.0  -1.0  5.0
Olma   0.0  -1.0  -1.0  2.0
Qovun -6.0  -7.0  -8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [26]:
d2.rsub(d1, fill_value=0) # == d1.sub(d2, fill_value=0)

         a     b     c    d
Anjir -9.0 -10.0 -11.0  NaN
Anor  -3.0  -1.0  -1.0  5.0
Olma   0.0  -1.0  -1.0  2.0
Qovun -6.0  -7.0  -8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [27]:
d1.div(d2) # == d2.rdiv(d1)

        a     b    c   d
Anjir NaN   NaN  NaN NaN
Anor  NaN  0.75  0.8 NaN
Olma  NaN  0.00  0.5 NaN
Qovun NaN   NaN  NaN NaN
Uzum  NaN   NaN  NaN NaN

In [28]:
d1.rdiv(d2) # == d2.div(d1)

        a         b     c   d
Anjir NaN       NaN   NaN NaN
Anor  NaN  1.333333  1.25 NaN
Olma  NaN       inf  2.00 NaN
Qovun NaN       NaN   NaN NaN
Uzum  NaN       NaN   NaN NaN

In [29]:
# DATAFRAME va SERIES ortasidagi ARIFMETIK AMALLARNI koramiz

In [32]:
d = pd.DataFrame(np.arange(1, 13.).reshape(3, 4), index=list('abc'), columns=['Olma', 'Anor', 'Qovun', 'Anjir'])
s = pd.Series([1, 1, 2, 2], index=d.columns)

In [33]:
d

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [34]:
s

Olma     1
Anor     1
Qovun    2
Anjir    2
dtype: int64

In [37]:
# demak DataFrame ustunlarini, Seriesimizni indexlari sifatida ko'rsatdik
# ular o'rtasida arifmetik amallar bajarsak, seriesni indekslari dataframeni ustunlari mos ravishda bajaradi

d + s

   Olma  Anor  Qovun  Anjir
a   2.0   3.0    5.0    6.0
b   6.0   7.0    9.0   10.0
c  10.0  11.0   13.0   14.0

In [39]:
s3 = pd.Series([2, 3, 1], index=['Olma', 'Uzum', 'Qovun'])

d + s3

   Anjir  Anor  Olma  Qovun  Uzum
a    NaN   NaN   3.0    4.0   NaN
b    NaN   NaN   7.0    8.0   NaN
c    NaN   NaN  11.0   12.0   NaN

In [41]:
s3['Olma']

2

In [44]:
# d ning hamma qiymatiga shu olmani qiymatini qoshib yubordi

d + s3['Olma']

   Olma  Anor  Qovun  Anjir
a   3.0   4.0    5.0    6.0
b   7.0   8.0    9.0   10.0
c  11.0  12.0   13.0   14.0

In [46]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a -1.772310  0.765902 -0.738666  0.966929
b -0.255621 -0.948349  0.907089  1.523233
c  0.421831  0.078461  0.071233 -0.752718

In [51]:
# agar biror funksiyani df ga qollasak, bu funksiya uning barcha elementlariga qo'llaniladi
# modulga olish

np.abs(df)

       Olma      Anor     Qovun     Anjir
a  1.772310  0.765902  0.738666  0.966929
b  0.255621  0.948349  0.907089  1.523233
c  0.421831  0.078461  0.071233  0.752718

In [52]:
# yaxlitlash

np.round(df)

   Olma  Anor  Qovun  Anjir
a  -2.0   1.0   -1.0    1.0
b  -0.0  -1.0    1.0    2.0
c   0.0   0.0    0.0   -1.0

In [57]:
# har bir ustun bo'yicha o'rtacha qiymatni topadi

df.mean()

Olma    -0.535367
Anor    -0.034662
Qovun    0.079886
Anjir    0.579148
dtype: float64

In [61]:
df

       Olma      Anor     Qovun     Anjir
a -1.772310  0.765902 -0.738666  0.966929
b -0.255621 -0.948349  0.907089  1.523233
c  0.421831  0.078461  0.071233 -0.752718

In [62]:
# YUQORIDAGI AMALLARNI APPLY() METODI YORDAMIDA HAM QO'LLASH MUMKIN
# apply yordami alohid ustun, alohida qatorlarga qo'llash mumkin

In [63]:
# alohida ustunlar bo'yicha ortacha qiymat

df.apply(np.mean)

Olma    -0.535367
Anor    -0.034662
Qovun    0.079886
Anjir    0.579148
dtype: float64

In [64]:
# alohida qatorlar bo'yicha ortacha qiymat

df.apply(np.mean, axis=1)

a   -0.194536
b    0.306588
c   -0.045298
dtype: float64

In [65]:
df.apply(np.sum)

Olma    -1.606100
Anor    -0.103986
Qovun    0.239657
Anjir    1.737445
dtype: float64

In [66]:
df.apply(np.sum, axis='columns')

a   -0.778144
b    1.226352
c   -0.181192
dtype: float64

In [67]:
# APPLY() yana bir afzalligi, istalgan funksiya yozib,
# uni apply orqali, df ning har bir elementiga qo'llashimiz mumkin

func = lambda x: x.max() - x.min()

In [69]:
# Demak bunda, ustun bo'yicha hamma elementlarning 
# eng max dan eng min ayiryapti, ular orasidagi farqni ko'rsatyapti

df.apply(func)

Olma     2.194142
Anor     1.714251
Qovun    1.645754
Anjir    2.275951
dtype: float64

In [73]:
def foo(x):
  return pd.Series([x.max(), x.min()], index=['min', 'max'])

In [74]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min  0.421831  0.765902  0.907089  1.523233
max -1.772310 -0.948349 -0.738666 -0.752718

In [76]:
df = pd.DataFrame(np.arange(1, 13).reshape(3, 4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [77]:
f = lambda x: x**2 # kvadrat oshiruvchi funksiya

In [81]:
df.apply(f) # df.apply(lambda x: x**2)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144

In [79]:
# biror funksiyani df ning har bir elementiga alohida qo'llash uchun
# .applymap()

df.applymap(f)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144

In [80]:
df ** 2

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144