<a href="https://colab.research.google.com/github/jfcoderx/Data-Sciense/blob/main/PD_IND.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

INDEKSLASH, QATOR, USTUN, FILTRLASH
<br>
Bularni SERIES va DATAFRAME malumot turlari bilan bajarishni o'rganamiz

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Yil': [2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
    'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
    'Temp': [1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
    'Zichlik': [79.54, 79.48, 78.56, 78.62, 77.65, 76.66, 75.64, 74.53]
}

df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.54
1  2020        33.5  1.48    79.48
2  2019        32.9  1.56    78.56
3  2018        32.5  1.62    78.62
4  2017        31.9  1.65    77.65
5  2016        31.4  1.66    76.66
6  2015        30.9  1.64    75.64
7  2014        28.5  1.53    74.53

In [3]:
# DataFramening har bir ustuni bu alohida Series bo'ladi
ser1 = df['Aholi soni']
ser1

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [4]:
type(ser1)

pandas.core.series.Series

In [5]:
# agar shu ustunni DataFrame ko'rinishida ko'chirib olmoqchi bo'lsam,
# unda iktalik tortburchak qavs qo'llasak bo'ladi

df[['Aholi soni']]

   Aholi soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9
5        31.4
6        30.9
7        28.5

In [6]:
type(df[['Aholi soni']])

# ['Yil'] bu bir nechta ustunlar nomi berish uchun shu uchun dataframe bo'ldi malumot
# biz bitta malumot berdik

pandas.core.frame.DataFrame

In [7]:
ser1

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [8]:
ser1[7]

28.5

In [9]:
ser1.iloc[-1]

28.5

In [10]:
type(ser1[7])

numpy.float64

In [11]:
ser1[[7]]

7    28.5
Name: Aholi soni, dtype: float64

In [12]:
type(ser1[[7]])

pandas.core.series.Series

In [13]:
ser1[[0, 4, 7]]

0    33.9
4    31.9
7    28.5
Name: Aholi soni, dtype: float64

In [14]:
ser1[0:4]

0    33.9
1    33.5
2    32.9
3    32.5
Name: Aholi soni, dtype: float64

In [15]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [16]:
# qiymat korinishi
obj['a']

0.0

In [17]:
# series korinishi
obj[['a']]

a    0.0
dtype: float64

In [18]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [19]:
obj['a': 'd'] # bu faqat stringlarda shunday bo`ladi

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [20]:
obj[[1, 4]]

b    1.0
e    4.0
dtype: float64

In [21]:
obj[['b', 'e']]

b    1.0
e    4.0
dtype: float64

In [22]:
obj['a': 'd'] = 10000
obj

a    10000.0
b    10000.0
c    10000.0
d    10000.0
e        4.0
f        5.0
g        6.0
h        7.0
dtype: float64

In [23]:
# FILTERLAYDIGAN BOLSAK

obj[obj < 6]

e    4.0
f    5.0
dtype: float64

In [24]:
obj2 = pd.Series(np.arange(8.), index=['Jasur', 'Botir', 'Said', 'Doston', 'Elbek', 'Feruz', 'Guli', 'Hasan'])
obj2

Jasur     0.0
Botir     1.0
Said      2.0
Doston    3.0
Elbek     4.0
Feruz     5.0
Guli      6.0
Hasan     7.0
dtype: float64

In [25]:
obj2['Jasur': 'Doston']

Jasur     0.0
Botir     1.0
Said      2.0
Doston    3.0
dtype: float64

In [26]:
obj2[[1, 4]]

Botir    1.0
Elbek    4.0
dtype: float64

In [27]:
obj2[['Botir', 'Elbek']]

Botir    1.0
Elbek    4.0
dtype: float64

In [28]:
obj2['Jasur': 'Doston'] = 'YES'
obj2

Jasur     YES
Botir     YES
Said      YES
Doston    YES
Elbek     4.0
Feruz     5.0
Guli      6.0
Hasan     7.0
dtype: object

In [29]:
obj2[obj2 == 'YES']

Jasur     YES
Botir     YES
Said      YES
Doston    YES
dtype: object

---
---
Shunday filtlashlarni
DATAFRAME lar ustida ko'ramiz

In [30]:
uz = {2020: 33.5, 2019: 32.9, 2018: 32.5, 2017: 31.9, 2016: 31.4, 2015: 30.9}
kz = {2020: 18.8, 2019: 18.5, 2018: 18.3, 2017: 18.1, 2016: 17.8, 2015: 17.6}
tj = {2020: 9.5, 2019: 9.3, 2018: 9.1, 2017: 8.9, 2016: 8.7, 2015: 8.5}
kg = {2020: 6.5, 2019: 6.4, 2018: 6.3, 2017: 6.2, 2016: 6.1, 2015: 6.0}
tr = {2020: 6.0, 2019: 5.9, 2018: 5.9, 2017: 5.8, 2016: 5.6, 2015: 5.6}

cdf = pd.DataFrame(
    {
        'Uzbekistan': uz,
        'Kazakhstan': kz,
        'Tajikistan': tj,
        'Kyrgizstan': kg,
        'Turkmenistan': tr
    }
)

cdf

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [31]:
cdf['Uzbekistan'] # series

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [32]:
cdf['Uzbekistan'].to_numpy() # series --> numpyga otkazamiz, 1D numpy boladi

array([33.5, 32.9, 32.5, 31.9, 31.4, 30.9])

In [33]:
cdf[['Uzbekistan']] # dataframe

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [34]:
cdf[['Uzbekistan']].to_numpy() # dataframe --> numpyga otkazamiz, 2D numpy boladi

array([[33.5],
       [32.9],
       [32.5],
       [31.9],
       [31.4],
       [30.9]])

In [35]:
# nega ham series ham dataframedek ajratib olishni koryapmiz
# sababi series va dataframelarda oziga mos xos metodlari bor
# biri qilgan ishni biri, birinikini biri qilolmasligi mumkin

In [36]:
cdf[['Uzbekistan', 'Turkmenistan']]

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

In [37]:
cdf[3:] # indeksi tartib raqami boyicha 3-indeksdan oxirigacha

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [38]:
# aholi soni 10mln dan koplarni chiqarmoqchi bolsak

cdf > 10

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True       False       False         False
2019        True        True       False       False         False
2018        True        True       False       False         False
2017        True        True       False       False         False
2016        True        True       False       False         False
2015        True        True       False       False         False

In [39]:
# bir ustun bo'yicha filtrlashimiz mumkin
# bu osha yillarni ustunda ajratib olish

cdf[['Uzbekistan']][cdf['Uzbekistan'] > 32]

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5

In [40]:
# demak shu yillarda Uzb aholisi 32mlndan katta bolgan

In [41]:
# bu qaysi yillarda bolgan va bolmaganni aniq korsatish

cdf[['Uzbekistan']] > 32

      Uzbekistan
2020        True
2019        True
2018        True
2017       False
2016       False
2015       False

In [42]:
cdf.T

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [43]:
cdf

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [44]:
cdf2 = cdf.transpose()
cdf2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [45]:
# 2015 yilda aholisi 15mlndan kop bolganlarni chiqarib ber
cdf2[cdf2[2015] > 15]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6

In [46]:
# 2015 yilda aholisi 15mlndan kop bolganlarni chiqarib ber
cdf2[[2015]][cdf2[2015] > 15]

            2015
Uzbekistan  30.9
Kazakhstan  17.6

---
---

In [55]:
cdf

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [51]:
# endi QATORLARNI ajratib olaylik

cdf.loc[2017] # --> series

Uzbekistan      31.9
Kazakhstan      18.1
Tajikistan       8.9
Kyrgizstan       6.2
Turkmenistan     5.8
Name: 2017, dtype: float64

In [53]:
# endi QATORLARNI ajratib olaylik

cdf.loc[[2017]] # --> dataframe

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8

In [58]:
# 2 qatorni ajratib olish

cdf.loc[[2020, 2017]] # indekslarni qay tartibda bersak oshanday chiqarib beradi

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2017        31.9        18.1         8.9         6.2           5.8

In [59]:
# ham qatorlar ham ustunlarni ajratib olish

cdf.loc[[2017, 2020, 2018], ['Kyrgizstan', 'Uzbekistan']] # indeks va ustunlar tartibini qay tartibda bersak shunday chiqaradi

      Kyrgizstan  Uzbekistan
2017         6.2        31.9
2020         6.5        33.5
2018         6.3        32.5

In [60]:
# indekn nomi bilan emas, tartib raqami bilan chiqarmoqchi bolsak

cdf.iloc[0] # --> series 0-tartibdagi indeks

Uzbekistan      33.5
Kazakhstan      18.8
Tajikistan       9.5
Kyrgizstan       6.5
Turkmenistan     6.0
Name: 2020, dtype: float64

In [61]:
# indekn nomi bilan emas, tartib raqami bilan chiqarmoqchi bolsak

cdf.iloc[[0]] # --> dataframe 0-tartibdagi indeks

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0

In [62]:
# indekn nomi bilan emas, tartib raqami bilan chiqarmoqchi bolsak

cdf.iloc[[0, 3]] # --> dataframe 0 va 3 - tartibdagi indeks

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2017        31.9        18.1         8.9         6.2           5.8

In [63]:
# ham qatorlar ham ustunlarni ajratib olish

cdf.iloc[[1, 0, 4], [3, 0]] # indeks va ustunlar turgan joyi tartibini qay tartibda bersak shunday chiqaradi

      Kyrgizstan  Uzbekistan
2019         6.4        32.9
2020         6.5        33.5
2016         6.1        31.4

In [67]:
# 2015 dagi faqar uzbekistandagi qiymat kerak

cdf.at[2015, 'Uzbekistan']

30.9

In [69]:
cdf.at[2020, 'Uzbekistan'] - cdf.at[2015, 'Uzbekistan']

# Demak Uzbekiston aholisi soni 2015dan 2020 oraligida 2.6 mlnga o'sgan

2.6000000000000014

In [72]:
# shu ishlarni indek tartib raqamlari bilan bajarsak

cdf.iat[5, 0]

30.9

In [74]:
cdf.iat[0, 0] - cdf.iat[5, 0]

2.6000000000000014

In [75]:
# SIKLLARNI BAJARGANDA YANI QATORNI YOKI USTUNNI KORIB HAR BIRINI KORIB CHIQISH KERAK BOLGANDA
# ILOC, IAT LAR JUDA JUDA QO'L KELADI

In [ ]:
# indekslar tartib raqami uchun
# [-1] korinishi agar qatorlar yoki indekslar raqamlardan iborat bolsa ishlamaydi
# agar harflardan iborat bolsa ishlaydi